header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #edd9f6;
  box-shadow: 0 4px 6px -1px #c85bfa;
} 

.header-logo {
  height: 40px;
  width: auto;
  display: block;
  object-fit: contain;
}