
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.board-section {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
}