<main>
    <div>
        <button (click)="startNewGame()">Start new game</button>
    </div>

    @if (winner()) {
        <h2>winner is {{ winner() }}</h2>
    }@else if (isDraw()) {
        <h2>It's a draw</h2>
    }@else {
        <h2>Current turn: {{ isPlayerX() ? 'X' : 'O' }}</h2>
    }

    <section class="board-section">
        @for (square of squares(); track $index) {
            <app-square-component 
                [value]="square"
                (buttonClicked)="handleMove($index)"
            >
            </app-square-component>
        }
    </section>
</main>