button {
    width: 100%;
    aspect-ratio: 1 / 1;

    font-size: 3.5rem;
    font-weight: bold;

    &.symbol-x {
        color: palevioletred;
        background-color: #ffebee;
        border-color: lightcoral;
    }

    &.symbol-o {
        color: darkcyan;
        background-color: #e3f2fd;
        border-color: lightblue;
    }
}